<div class="container about">
    <h1>about us</h1>
    <p> Limousine rental service</p>
    <p> If you have a question, feel free to contact us by clicking the link below </p>
    <a href='/contact'>Contact us</a>
    <small>All rights reserved. Copyright &copy 2021</small>
</div>