<div class="container contact">
    <h1>Contact us</h1>

    <form action="/contact" method="POST">
        {{!-- <div class="mb-3">
            <label for="email">Email address</label>
            <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div> --}}

        <div class="mb-3">
            <label  for="message" > Message</label>
            <textarea class="form-control" name='message' id='message'></textarea>
           
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>