<div class="container listing2">
  <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm-5">
        <form action='/listcar2' method="POST">
            <div class="form-group">
                <label for="pricePerHour">Price/Hour</label>
                <input type='number' name='pricePerHour' id='pricePerHour' class='form-control'>
        
            </div>
        
            <div class="form-group">
                <label for='pricePerWeek'>Price/Week</label>
                <input type='number' name='pricePerWeek' id='pricePerWeek' class="form-control">
        
            </div>
        
            <div class="form-group">
                <label for='location'>Location</label>
                <input type='text' name='location' id='location' class="form-control"
                    placeholder="street,city, state and zip code">
            </div>
        
            <div class="form-group">
                <button class="btn btn-info upload-btn" type='button' >Choose image</button>
        
                <input type='file' name='cover' id='upload-input' class="filepond">
            </div>
        
            <div class="form-group">
                <button type="submit" class='btn btn-primary' value="Upload image">List a Car</button>
        
            </div>
        
        </form>


      </div>
      <div class="col-sm"></div>


{{!-- display images --}}


  </div>

<section class="mt-2">
    <div class="row">
        <div class="col-3">
            <div class="card shadow" style="width: 18rem;">
                <img src="..." class="card-img-top" class="img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Car</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-info">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- display images --}}


   
</div>




<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

<script>
    //fetch location using js
    function initMap(){
        var location = document.getElementById('location');
        var Autocomplete = new google.maps.places.Autocomplete(location);
    }
// jquery code starts here

$(document).ready(function(){
    $('.upload-btn').on('click', function(){
        $('#upload-input').click();
    });
    $('#upload-input').on('change', function(){
        var uploadInput = $('#upload-input');
        if(uploadInput.val() != ''){
            var formData = new FormData();
            formData.append('image', uploadInput[0].files[0]);

            //make ajax request to send image to databse
            $.ajax({
                url: '/uploadimage',
                type: 'POST',
                data: formData,
                processData: false,
                contentType:false,
                success: function(){
                    uploadInput.val('');
                }
            })
        }
    })

})


</script>



<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApDBG5iebThr0p0W8aWsUgREA0UKNWbc4&libraries=places&callback=initMap">
</script>

